.App{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home{
  min-height: 30vh;
  background-image: url(../public/S&A.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  justify-content: center;
}

.backname{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-width: 30%;
  min-height: 40%;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 2rem;
  border-radius: 1rem;
}

.countdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 5px ;
}
.counter-number{
  font-size: 2rem;
}

.name{
  min-height: 40vh;
  min-width: 30%;
  display: flex;
  justify-content: top;
  align-items: center;
  border-radius: 1rem;
  color: white;
  text-shadow: 3px 3px black;
}

.backconf{
  min-height: 50vh;
  background-image: url(../public/update-s&a.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  min-width: 30%;
  min-height: 30px;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color:rgba(255, 255, 255, 0.664);
  background-color: rgba(26, 26, 26, 0.486);
}

.casal{
  display: block;
  justify-content: center;
  align-items: center;
}
h1{
  display: inline-block;
  font-size: 2.0rem;
}
p{
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
.head{
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  padding: 10px;
}
a{
  font-size: large;
  color: #000;
  font-style: italic;
  text-decoration: none;
}
.header{
  width: 98.8vw;
  background-color: rgba(255, 255, 255, 0.623);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  position: fixed;
}

.counter{
  min-width: 5em;
}

center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}