.All{
  background-image: url(../public/S&A.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: top right ;
  background-attachment: fixed ;
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-width: 30%;
  min-height: 40%;
  background-color: rgba(255, 255, 255, 0.623);
  padding: 2rem;
  border-radius: 1rem;
}

.countdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 5px ;
}
.counter-number{
  font-size: 2rem;
}

.name{
  min-height: 40vh;
  min-width: 30%;
  display: flex;
  justify-content: top;
  align-items: center;
  border-radius: 1rem;
  color: white;
  text-shadow: 3px 3px black;
}
.casal{
  display: block;
  justify-content: center;
  align-items: center;

}
h1{
  display: inline-block;
  font-size: 2.0rem;
}
p{
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
.head{
  color: black;
  width: 50vw;
  display: flex;
  justify-content: left;
  text-align: center;
  gap: 1rem;
  padding-left:10px ;
}
.head>a{
  color: #000;
}
.header{
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.623);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  position: fixed;
}
a{
  color:rgb(255, 255, 255);
  font-size: bolder;
  font-family: cursive;
  font-style: italic;
  text-decoration: none;
}
.check{
  font-size: 1rem;
  width: 30vw;
  padding-right: 10px;
  margin-left: 1rem;
  background-color: rgba(0, 0, 8, 0.438);
  border-radius: 0.5rem;
  border: 1px   solid black;
  padding-left: 1em;
}

.home{

}
.counter{
  min-width: 5em;
}